<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wanderlust Travel</title>
        
    </head>

    <body>

        <header id="header">
            <h1>Wanderlust Travel</h1>
            <p id="tagline">Not all who wander are lost...</p>
        </header>

        <main>
            <section id="formSection">
                <h2>Add an Upcoming Trip</h2>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div class ="holder city">
                        <label for="city">Destination City</label><br>
                        <input type="text" name="city" id="city" value="Austin" placeholder="e.g. Austin">
                    </div>
                    <div class ="holder state">
                        <label for="state">Destination State or Country</label><br>
                        <input type="text" name= "state" id="state" value="Texas" placeholder="e.g. Texas">
                    </div>
                    <div class ="holder date">
                        <label for="date">When are you leaving for your trip?</label><br>
                        <input type="date" name="date" value="2020-10-10" id="date">
                        <label for="returnDate">When are you coming backp?</label><br>
                        <input type="date" name="returnDate" value="2020-10-12" id="returnDate">
                    </div>

                    <input class=" submitBtn" type="submit" name="" value="Add Trip" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section id="newTrip">
                

            </section>



            <section id="tripLog">
                <h2>Travel Log</h2>
                <div id="results"></div>
            </section>

        </main>

            
        <footer id="footer"> 
            &copy; Copyright 2020: Pedram Rahmanian
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>